/* SCSS */
@import "reset";
@import "proto";

$mainblue: #98c1c9;
$nav-blue: darken($mainblue, 30%);
$biege: #E9D2AF;
$light-biege: #E7CFAB;
$medium-red: #CD6B69;
$darkred: #9C3634;
$warm-orange: #E68E73;

.left {
  margin: 0 0;
  text-align: left;
  float: left;
}

.categories {
  padding: 6px;
  margin-top: 10px;
  background-color: $biege;
}

header {
  width: 960px;
  min-height: 2em;
  height: 119px;
  //border-bottom: 2px solid darken($nav-blue, 20%);
  background-color: $biege;
  background: url(../images/stamp-banner-faded.png) $biege no-repeat;
}

body {
  background: url(../images/az_subtle.png) lighten($light-biege, 5%);
  font-family: arial, helvetica, sans-serif;
  a {
    color: $medium-red;
  }
}

.content {

}

.category {
  display: inline-block;
  margin: 0 4px;
}
.mod-title {
  font-weight: bold;
  font-size: 1.6em;
  color: $darkred;
  margin-bottom: 8px;
}

.table {
  width: 70%;
  margin: 10px auto 0 auto;
  background-color: lighten($biege, 5%);
  padding: 8px;
  th {
    font-size: 1.1em;
    background-color: lighten($darkred, 20%);
    text-align: left;
    color: lighten($biege, 10%);
  }
  th, td {
    padding: 2px 6px;
  }
  tr {

  }
}

#fiterfield {
  color: $darkred;
  background-color: lighten($biege, 15%);
}

.checkboxes {
  color: $darkred;
  input[type='checkbox'] {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  //background-color: lighten($warm-orange, 5%);

}

.iframe {
  margin-top: 20px;
  background-color: lighten($light-biege, 10%);
  border: 1px solid $light-biege;
  min-height: 300px;
}

.showing-count {
  font-size: .8em;
  font-style: italic;
  color: darken($biege, 30%);
}