@import url(icons.css);
/* SCSS */
/* SCSS */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.block {
  box-sizing: border-box;
  width: 100%;
  background: #eeeeee;
  color: #9099A3;
  text-align: center; }

.center {
  margin: 0 auto;
  width: 100%;
  text-align: center; }

.grid .block {
  float: left; }

.grid .hundred {
  width: 100%; }
.grid .ninety {
  width: 90%; }
.grid .eighty {
  width: 80%; }
.grid .seventyfive {
  width: 75%; }
.grid .seventy {
  width: 70%; }
.grid .sixtysix {
  width: 66.666%; }
.grid .sixty {
  width: 60%; }
.grid .fifty {
  width: 50%; }
.grid .forty {
  width: 40%; }
.grid .thirtythree {
  width: 33.333%; }
.grid .thirty {
  width: 30%; }
.grid .twentyfive {
  width: 25%; }
.grid .twenty {
  width: 20%; }
.grid .ten {
  width: 10%; }

.not-desktop {
  display: none; }

.tablet {
  display: none; }

.phone {
  display: none; }

/* Desktop */
@media (min-width: 1024px) {
  .desktop-demo,
  .not-tablet-demo,
  .not-phone-demo {
    background: #dff0d8;
    color: #529138; }

  .not-desktop-demo,
  .tablet-demo,
  .phone-demo {
    background: #f0d8d8;
    color: #913838; }

  .grid .desktop-to-hundred {
    width: 100%; }
  .grid .desktop-to-ninety {
    width: 90%; }
  .grid .desktop-to-eighty {
    width: 80%; }
  .grid .desktop-to-seventyfive {
    width: 75%; }
  .grid .desktop-to-seventy {
    width: 70%; }
  .grid .desktop-to-sixtysix {
    width: 66.666%; }
  .grid .desktop-to-sixty {
    width: 60%; }
  .grid .desktop-to-fifty {
    width: 50%; }
  .grid .desktop-to-forty {
    width: 40%; }
  .grid .desktop-to-thirtythree {
    width: 33.333%; }
  .grid .desktop-to-thirty {
    width: 30%; }
  .grid .desktop-to-twentyfive {
    width: 25%; }
  .grid .desktop-to-twenty {
    width: 20%; }
  .grid .desktop-to-ten {
    width: 10%; } }
/* Tablet Up To Desktop */
@media (min-width: 768px) and (max-width: 1023px) {
  .tablet {
    display: block; }

  .not-desktop {
    display: none; }

  .not-tablet {
    display: none; }

  .desktop-demo,
  .tablet-demo,
  .not-phone-demo {
    background: #dff0d8;
    color: #529138; }

  .not-desktop-demo,
  .not-tablet-demo,
  .phone-demo {
    background: #f0d8d8;
    color: #913838; }

  .grid .tablet-to-hundred {
    width: 100%; }
  .grid .tablet-to-ninety {
    width: 90%; }
  .grid .tablet-to-eighty {
    width: 80%; }
  .grid .tablet-to-seventyfive {
    width: 75%; }
  .grid .tablet-to-seventy {
    width: 70%; }
  .grid .tablet-to-sixtysix {
    width: 66.666%; }
  .grid .tablet-to-sixty {
    width: 60%; }
  .grid .tablet-to-fifty {
    width: 50%; }
  .grid .tablet-to-forty {
    width: 40%; }
  .grid .tablet-to-thirtythree {
    width: 33.333%; }
  .grid .tablet-to-thirty {
    width: 30%; }
  .grid .tablet-to-twentyfive {
    width: 25%; }
  .grid .tablet-to-twenty {
    width: 20%; }
  .grid .tablet-to-ten {
    width: 10%; } }
/* Tablet Down To Phone */
@media (max-width: 767px) {
  .desktop {
    display: none; }

  .not-desktop {
    display: block; }

  .tablet {
    display: block; }

  .not-tablet {
    display: none; }

  .phone {
    display: block; }

  .not-phone {
    display: none; }

  .not-desktop-demo,
  .tablet-demo,
  .phone-demo {
    background: #dff0d8;
    color: #529138; }

  .desktop-demo,
  .not-tablet-demo,
  .not-phone-demo {
    background: #f0d8d8;
    color: #913838; }

  .grid .phone-to-hundred {
    width: 100%; }
  .grid .phone-to-ninety {
    width: 90%; }
  .grid .phone-to-eighty {
    width: 80%; }
  .grid .phone-to-seventyfive {
    width: 75%; }
  .grid .phone-to-seventy {
    width: 70%; }
  .grid .phone-to-sixtysix {
    width: 66.666%; }
  .grid .phone-to-sixty {
    width: 60%; }
  .grid .phone-to-fifty {
    width: 50%; }
  .grid .phone-to-forty {
    width: 40%; }
  .grid .phone-to-thirtythree {
    width: 33.333%; }
  .grid .phone-to-thirty {
    width: 30%; }
  .grid .phone-to-twentyfive {
    width: 25%; }
  .grid .phone-to-twenty {
    width: 20%; }
  .grid .phone-to-ten {
    width: 10%; } }
/* Phones */
@media (max-width: 480px) {
  .block,
  .grid .block {
    clear: left;
    /* better results than float:none; after tests */
    width: 100%;
    display: block; }

  .center {
    margin: 0;
    width: 100%; }

  .desktop {
    display: none; }

  .tablet {
    display: none; }

  .phone {
    display: block; }

  .not-phone {
    display: none; }

  .not-desktop-demo,
  .not-tablet-demo,
  .phone-demo {
    background: #dff0d8;
    color: #529138; }

  .desktop-demo,
  .tablet-demo,
  .not-phone-demo {
    background: #f0d8d8;
    color: #913838; } }
.left {
  margin: 0 0;
  text-align: left;
  float: left; }

.categories {
  padding: 6px;
  margin-top: 10px;
  background-color: #e9d2af;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

header {
  width: 100%;
  min-height: 2em;
  height: 119px;
  font-size: 2.3em;
  text-align: center;
  padding-top: 2em;
  color: #e9d2af;
  font-family: "Share Tech", sans-serif;
  background: url(../images/stamps.png) #9c3634 no-repeat top center; }

body {
  background: url(../images/az_subtle.png) #eddabf;
  font-family: arial, helvetica, sans-serif; }
  body a {
    color: #cd6b69; }

.content {
  margin: 0 auto;
  width: 80%; }

.mod-category {
  margin: 0 4px;
  text-align: left; }

.mod-title {
  font-weight: bold;
  font-size: 1.6em;
  color: #9c3634;
  margin-bottom: 8px;
  font-family: "Share Tech", sans-serif; }

.mods-table {
  font-family: "Share Tech", sans-serif;
  width: 100%;
  margin: 10px;
  background-color: #efddc3;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px; }
  .mods-table th {
    padding: 10px;
    font-size: 1.1em;
    background-color: #c04543;
    text-align: left;
    color: #f4e9d7; }
  .mods-table th, .mods-table td {
    padding: 4px 6px; }
  .mods-table td a {
    font-size: 1.15em;
    color: #c04543;
    text-decoration: none; }

.filter-field-container label {
  color: #c88e37; }

.registration-form-common, .registration-form, .registration-form-error {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  border: 1px solid #9c3634;
  background-color: #F9EDDA;
  width: 18em;
  margin: 4em auto;
  padding: 1em 4em 4em 4em; }
  .registration-form-common h3, .registration-form h3, .registration-form-error h3 {
    padding-bottom: 2em;
    color: #9c3634;
    font-family: "Share Tech", sans-serif; }
  .registration-form-common label, .registration-form label, .registration-form-error label {
    font-size: 1.1em;
    color: #9c3634;
    font-family: "Share Tech", sans-serif; }
  .registration-form-common input[type="text"], .registration-form input[type="text"], .registration-form-error input[type="text"],
  .registration-form-common input[type="email"],
  .registration-form input[type="email"],
  .registration-form-error input[type="email"],
  .registration-form-common input[type="password"],
  .registration-form input[type="password"],
  .registration-form-error input[type="password"] {
    font-size: .7em;
    margin-bottom: 1.6em;
    width: 14em;
    padding: .2em; }
  .registration-form-common input[type="email"]:invalid, .registration-form input[type="email"]:invalid, .registration-form-error input[type="email"]:invalid {
    color: red; }
  .registration-form-common button, .registration-form button, .registration-form-error button {
    background-color: #469c35 !important;
    background-repeat: repeat-x;
    background-image: -khtml-gradient(linear, left top, left bottom, from(#60bf4c), to(#449936));
    background-image: -moz-linear-gradient(top, #449936, #449936);
    background-image: -ms-linear-gradient(top, #449936, #449936);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60bf4c), color-stop(100%, #449936));
    background-image: -webkit-linear-gradient(top, #60bf4c, #449936);
    background-image: -o-linear-gradient(top, #60bf4c, #449936);
    background-image: linear-gradient(#60bf4c, #449936);
    border-color: #449936 #449936 #418f32;
    color: white !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
    float: right; }

.registration-form {
  background-color: #F9EDDA; }

.registration-form-error {
  background-color: #FFBDA4; }
  .registration-form-error span {
    color: #9c3634;
    font-size: 0.8em; }

#fiterfield {
  color: #9c3634;
  background-color: #f9f4eb; }

.cb {
  color: #9c3634; }
  .cb input[type='checkbox'] {
    padding-top: 16px;
    padding-bottom: 16px; }

.forum-url-display {
  margin-top: 20px;
  margin-bottom: 4px;
  float: right;
  font-size: .8em;
  color: #c88e37; }

.showing-count {
  font-size: .8em;
  color: #c88e37;
  font-style: italic; }

.generic-button, .green-button, .blue-button {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0em;
  font-weight: bold;
  line-height: normal;
  padding: 9px 14px 9px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.green-button {
  text-decoration: none;
  background-color: #469c35 !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#60bf4c), to(#449936));
  background-image: -moz-linear-gradient(top, #449936, #449936);
  background-image: -ms-linear-gradient(top, #449936, #449936);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #60bf4c), color-stop(100%, #449936));
  background-image: -webkit-linear-gradient(top, #60bf4c, #449936);
  background-image: -o-linear-gradient(top, #60bf4c, #449936);
  background-image: linear-gradient(#60bf4c, #449936);
  border-color: #449936 #449936 #418f32;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19); }

.blue-button {
  background-color: #35909c !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from(#4cb4c1), to(#358f9b));
  background-image: -moz-linear-gradient(top, #358f9b, #358f9b);
  background-image: -ms-linear-gradient(top, #358f9b, #358f9b);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4cb4c1), color-stop(100%, #358f9b));
  background-image: -webkit-linear-gradient(top, #4cb4c1, #358f9b);
  background-image: -o-linear-gradient(top, #4cb4c1, #358f9b);
  background-image: linear-gradient(#4cb4c1, #358f9b);
  border-color: #358f9b #358f9b #318590;
  color: white !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19); }

.mod-author {
  color: #a0722c; }

.minecraft-version {
  color: #9c3634;
  font-weight: bold; }

.iframe {
  clear: both;
  background-color: #f2e6d3;
  border: 1px solid #e7cfab;
  min-height: 600px; }

input:focus:invalid {
  background: white url("../images/invalid.png") no-repeat 98% center !important;
  border-color: #f36; }

input:required:valid {
  background: white url("../images/valid.png") no-repeat 98% center; }

label.validation-message {
  display: none;
  color: red; }

.hidden {
  display: none; }

@media all and (max-width: 1279px) {
  .content {
    width: 100%;
    margin: 0 auto; } }
@media all and (min-width: 1024px) {
  .checkboxes {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px; } }
@media all and (max-width: 1023px) {
  .checkboxes {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px; } }
@media all and (max-width: 840px) {
  .checkboxes {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px; } }
@media all and (max-width: 560px) {
  .checkboxes {
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px; } }
