/* SCSS */
@import "reset";
@import "proto";
@import "icons.css";

$mainblue: #98c1c9;
$nav-blue: darken($mainblue, 30%);
$biege: #E9D2AF;
$light-biege: #E7CFAB;
$medium-red: #CD6B69;
$darkred: #9C3634;
$warm-orange: #E68E73;
$torquise-light: #4cb4c1;
$torquise-medium: #358f9b;
$light-green: #60bf4c;
$light-medium-green: #449936;
$light-darker-green: #469c35;
$light-green-variant: #418f32;

@mixin buttonColorizer($bg-image-from-color, $bg-image-to-color, $bg-color, $border-colors, $text-color) {
  background-color: $bg-color !important;
  background-repeat: repeat-x;
  background-image: -khtml-gradient(linear, left top, left bottom, from($bg-image-from-color), to($bg-image-to-color));
  background-image: -moz-linear-gradient(top, $bg-image-to-color, $bg-image-to-color);
  background-image: -ms-linear-gradient(top, $bg-image-to-color, $bg-image-to-color);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $bg-image-from-color), color-stop(100%, $bg-image-to-color));
  background-image: -webkit-linear-gradient(top, $bg-image-from-color, $bg-image-to-color);
  background-image: -o-linear-gradient(top, $bg-image-from-color, $bg-image-to-color);
  background-image: linear-gradient($bg-image-from-color, $bg-image-to-color);
  border-color: $border-colors;
  color: $text-color !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.19);
}

@mixin smooth-corners {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

@mixin italic {
  font-style: italic;
}

@mixin small-text {
  font-size: .8em;
  color: darken($biege, 30%);
}

.left {
  margin: 0 0;
  text-align: left;
  float: left;
}

.categories {
  padding: 6px;
  margin-top: 10px;
  background-color: $biege;
  @include smooth-corners;
}

header {
  width: 100%;
  min-height: 2em;
  height: 119px;
  font-size: 2.3em;
  text-align: center;
  padding-top: 2em;
  color: $biege;
  font-family: 'Share Tech', sans-serif;
  background: url(../images/stamps.png) $darkred no-repeat top center;
}

body {
  background: url(../images/az_subtle.png) lighten($light-biege, 5%);
  font-family: arial, helvetica, sans-serif;
  a {
    color: $medium-red;
  }
}

.content {
  margin: 0 auto;
  width: 80%;
}

@media all and (max-width: 1279px) {
  .content {
    width: 100%;
    margin: 0 auto;
  }
}

.filter {
  label {
    color: darken($biege, 30%);
  }
}

.category {
  //display: block;
  margin: 0 4px;
  text-align: left;
}

.mod-title {
  font-weight: bold;
  font-size: 1.6em;
  color: $darkred;
  margin-bottom: 8px;
  font-family: 'Share Tech', sans-serif;
}

.table {
  font-family: 'Share Tech', sans-serif;
  width: 100%;
  margin: 10px;
  background-color: lighten($biege, 5%);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;

  th {
    padding: 10px;
    font-size: 1.1em;
    background-color: lighten($darkred, 10%);
    text-align: left;
    color: lighten($biege, 10%);
  }
  th, td {
    padding: 4px 6px;
  }
  td {
    a {
      font-size: 1.15em;
      color: lighten($darkred, 10%);
      text-decoration: none;
    }
  }
}

.register-container {
  @include smooth-corners;
  border: 1px solid $darkred;
  background-color: #F9EDDA;
  width: 18em;
  margin: 4em auto;
  padding: 1em 4em 4em 4em;
  h3 {
    //TODO refactor this non DRY stuff
    padding-bottom: 2em;
    color: $darkred;
    font-family: 'Share Tech', sans-serif;
  }
  label {
    font-size: 1.1em;
    color: $darkred;
    font-family: 'Share Tech', sans-serif;
  }
  input[type="text"] {
    font-size: .7em;
    margin-bottom: 1.6em;
    width: 14em;
    padding: .2em;
  }

  button {
    @include buttonColorizer($light-green, $light-medium-green, $light-darker-green, $light-medium-green $light-medium-green $light-green-variant, #fff);
    float: right;
  }
}

#fiterfield {
  color: $darkred;
  background-color: lighten($biege, 15%);
}

.cb {
  color: $darkred;
  input[type='checkbox'] {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media all and (min-width: 1024px) {
  .checkboxes {
    -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
  }
}

@media all and (max-width: 1023px) {
  .checkboxes {
    -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
  }

}

@media all and (max-width: 840px) {
  .checkboxes {
    -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
  }

}

@media all and (max-width: 560px) {
  .checkboxes {
    -moz-column-count: 1;
    -moz-column-gap: 10px;
    -webkit-column-count: 1;
    -webkit-column-gap: 10px;
    column-count: 1;
    column-gap: 10px;
  }

}

.iframe {
  clear: both;
  background-color: lighten($light-biege, 10%);
  border: 1px solid $light-biege;
  min-height: 600px;
}

.forum-url-display {
  margin-top: 20px;
  margin-bottom: 4px;
  float: right;
  @include small-text;
}

.showing-count {
  @include small-text;
  @include italic;
}

.button {
  -webkit-font-smoothing: antialiased;
  cursor: pointer;
  display: inline-block;
  font-size: 1.0em;
  font-weight: bold;
  line-height: normal;
  padding: 9px 14px 9px;
  @include smooth-corners;
}

.green-button {
  @extend .button;
  @include buttonColorizer($light-green, $light-medium-green, $light-darker-green, $light-medium-green $light-medium-green $light-green-variant, #fff);
}

.blue-button {
  @extend .button;
  @include buttonColorizer($torquise-light, $torquise-medium, #35909C, $torquise-medium $torquise-medium #318590, #fff);
}

.author {
  color: darken($biege, 40%);
}

.version {
  color: $darkred;
  font-weight: bold;
}