<flash-message></flash-message>
<table class="mods-table">
    <tr>
        <td colspan="2">
            <div class="filter-field-container">
                <label>Filter:
                    <input ng-model="query" type="text" id="fiterfield">
                </label>
<span class="showing-count">Showing {{(mods | filter:query).length}} out of {{mods.length}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <th>Mod Name</th>
        <th>Minecraft Version</th>
        <th>Author</th>
    </tr>
    <tr ng-repeat="mod in mods | filter:query">
        <td><a href="#/mods/{{mod.id}}">{{mod.name}}</a></td>
        <td class="minecraft-version">{{mod.minecraft_version}}</td>
        <td class="mod-author">{{mod.author}}</td>
    </tr>
</table>