<table class="table" ng-controller="IndexController">
    <tr>
        <td colspan="2">
            <div class="filter">
                <label>Filter:
                    <input ng-model="query" type="text" id="fiterfield">
                </label>
<span class="showing-count">Showing {{(mods | filter:query).length}} out of {{mods.length}}</span>
            </div>
        </td>
    </tr>
    <tr>
        <th>Flag to Fix</th>
        <th>Mod Name</th>
        <th>Minecraft Version</th>
        <th>Author</th>
    </tr>
    <tr ng-repeat="mod in mods | filter:query">
        <td><a href="#/mods/fix/{{mod.id}}">fix</a></td>
        <td><a href="#/mods/{{mod.id}}">{{mod.name}}</a></td>
        <td class="version">{{mod.minecraft_version}}</td>
        <td class="author">{{mod.author}}</td>
    </tr>
</table>