<div class="categories block center">
<span class="left"><a href="#/">Back</a></span>
    <h1>Mod Name</h1>

    <form>
        <div class="checkboxes">
            <p>
                <label>
                    <input name="category_name?" class="category-check" type="checkbox">
                    Category 1
                </label>
            </p>

            <p>
                <label>
                    <input name="category_name?" class="category-check" type="checkbox">
                    Category 2
                </label>
            </p>
        </div>
        <button>Submit</button>
    </form>
</div>
<div class="iframe block center ninety">
 Iframe here
</div>