<div class="categories center">
    <span class="left"><a href="#/">Back</a></span>

    <h1 class="mod-title">{{currentMod.name}}</h1>

    <form>
        <div class="checkboxes cb">
            <div class="category" ng-repeat="category in allCategories">
                <label>
                    <input name="{{category.name}}" class="category-check" type="checkbox">
                    {{category.name}}
                </label>
            </div>

        </div>
        <div class="center">
            <button class="categorize {{buttonClass}}" ng-click="authorize()">{{buttonText}}</button>
        </div>
    </form>
</div>
    <span class="forum-url-display"><a class="icon-link" ng-href="{{currentMod.forum_url}}" target="_blank"> {{currentMod.forum_url}}</a></span>
<!--<iframe src="{{currentMod.forum_url}}" class="iframe block center ninety">-->

<!--</iframe>-->
