<div class="categories center" ng-controller="ModController">
    <span class="left"><a href="#/">Back</a></span>

    <h1 class="mod-title">{{currentMod.name}}</h1>

    <form>
        <div class="checkboxes cb">
            <div class="category" ng-repeat="category in allCategories">
                <label>
                    <input name="{{category.name}}" class="category-check" type="checkbox">
                    {{category.name}}
                </label>
            </div>

        </div>
        <div class="center">
            <button class="categorize icon-checkmark"> Categorize!</button>
        </div>
    </form>
</div>
    <span class="forum-url-display"><a ng-href="{{currentMod.forumLink}}">{{currentMod.forumLink}}</a></span>
<div class="iframe block center ninety">
    Iframe here
</div>