<div class="registration-form" registration-form>
    <h3>New User Registration</h3>
    <p><span class="error"></span></p>
        <p><label>
            Username:
            <input name="username" type="text" ng-model="username">
        </label></p>
        <p><label>
            Email:
            <input name="email" type="email" ng-model="email">
        </label></p>

        <p><label>
            Password:
            <input name="password" type="password" ng-model="password">
        </label></p>
        <p><label>
            Password Confirm:
            <input name="passwordConfirm" type="password" ng-model="passwordConfirm">
        </label></p>
        <button class="generic-button" ng-click="submitRegistration()">Submit</button>
</div>
