<div class="register-container">
    <h3>New User Registration</h3>
    <form action="#">
        <p><label>
            Username:
            <input name="username" type="text" ng-model="username">
        </label></p>

        <p><label>
            Password:
            <input name="password" type="text" ng-model="password">
        </label></p>
        <p><label>
            Password Confirm:
            <input name="passwordConfirm" type="text" ng-model="passwordConfirm">
        </label></p>
        <button class="button">Submit</button>
    </form>
</div>
