<div class="question">
    <div id="q3" class="checkboxes cb">
        <div class="mod-category" ng-repeat="category in allCategories">
            <label class="category-check"
                   ng-mouseover="populateHelpText(category.description)"
                   ng-mouseleave='populateHelpText("&nbsp;")'>
                <input name="{{category.name}}" type="checkbox" value="{{category.id}}">
                {{category.name}}
            </label>
        </div>

    </div>
    <div class="center">
        <button class="{{buttonClass}}" ng-click="authorizeOrCategorize()">{{buttonText}}</button>
        <button class="{{registerButtonClass}}" ng-click="goRegister()"> Register</button>
    </div>
</div>
