<div class="question-container">
    <div class="question-box" id="q1">
        <span>Does the forum post below NOT contain a Minecraft Mod?</span>
        <button class="sadpath icon-cancel" ng-click="reportNoMod()"> I see no mod!</button>
        <button class="happypath icon-checkmark" ng-click="wizardNext('views/wizard/multiple-mods.html')"> Yes, it contains a Mod</button>
        <div class="progressbar-container">
            <div class="slider" style="width: 33%;"></div>
        </div>
    </div>
</div>
